* {
  margin: 0;
  padding: 0;
}

nav {
  margin-bottom: 30px;
}

.bulletPoint {
  list-style: none;
  padding: 10px;
  background-color: rgb(232, 198, 249);
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.cart {
  list-style: none;
  padding-right: 15px;
}
