* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  margin-bottom: 30px;
}

.bulletPoint {
  list-style: none;
  padding: 10px;
  background-color: rgb(156, 151, 186);
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

a {
  font-size: 17px;
  padding:10px;
  text-decoration: none;
  color: black;
  transition: all 0.3s ease;
  font-family:'Times New Roman', Times, serif 
}

a:hover {
  font-size: 18px;
  color: rgb(54, 79, 89);
}

.cart {
  list-style: none;
  padding-right: 15px;
}
