.product-card {
    width: 100%; /* Ajusta el ancho según tus necesidades */
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* Para incluir el padding y el borde en el ancho total */
  }
  
  .product-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .product-card h3,
  .product-card h4 {
    margin: 0;
  }