.titulo {
  text-align: center;
  padding: 20px;
  padding-bottom: 35px;
  font-size: 36px;
  color: #333;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.productCardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(30% - 20px), 1fr));
  gap: 20px;
  justify-content: space-around;
}
